body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(240, 248, 255);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */
@import "~rsuite/dist/rsuite.min.css";

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  .rs-sidenav {
    width: 100%; /* Full width on mobile */
  }

  .rs-sidenav .rs-sidenav-toggle {
    display: block; /* Show toggle button on mobile */
  }
}